.root{
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    padding: 5px 5px;
    height: 70px;
    background-color: rgb(235, 245, 241);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo{
    height: 100px;
    width: 100px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.nav-items{
    display: flex;
    align-items: center;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
    margin-left: auto;
    padding-right: 20px;
    
}

.nav-items > ul > li {
    list-style-type: none;
    padding: 10px 15px;
    font-weight: bold;
}

.res-card{
    /* padding: 1px;
    margin: 2px; */
    box-shadow: 1px 1px 2px grey;
    width: 210px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px solid grey;
}

.res-logo{
    height: 100px;
    width: 210px;
}

.filter-btn{
    padding: 5px 10px;
    margin-left: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{
    box-shadow: 1px 1px 2px grey;
    width: 210px;
    padding: 10px;
    margin: 10px;
}

.login-btn{
    padding: 10px 20px;
    background-color: white;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin: 8px 10px 0px 0px;
    border: 1px solid green;
    height: px;
}

.signUp-btn{
    padding: 10px 20px;
    background-color: white;
    color: green;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid green;
    margin: 8px 10px 0px 0px;
    cursor: pointer;
    height: px;
}

.search-input{
    padding: 5px;
    width: 250px;
    border-radius: 5px;
}

.search-btn{
    padding: 5px 10px;
    margin-left: 10px;
    background-color: green;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.search-box{
    position:sticky;
    top: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
}